.card {
    border: 1px solid #eb5757;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    min-height: 387px;
}
.card_imagem{
    width: 100%;
}

.card_title {
    text-align: center;
    position: absolute;
    background: rgba(235, 87, 87, 0.6);
    top: 234px;
    width: 100%;
    padding: 18px 0px ;
    color: #F2F2F2;
    font-weight: 600;
    font-family: 'Quicksand';
}

.card_descricao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding: 10px;
}


.card_info1 {
    font-size: 14px;
    top:14px;
    left: 40px;
    position: absolute;
}

.card_info2 {
    font-size: 14px;
    top: 60px;
    left: 40px;
    position: absolute;

}