.imagemCapa{
   width: 100vw;

   position: relative;
}

.title{
   text-align: center;
   position: absolute;
   background: rgba(235, 87, 87, 0.6);
   top: 270px;
   width: 100%;
   padding: 18px 0px ;
   color: #F2F2F2;
   font-weight: 600;
   font-family: 'Quicksand';
}

