.container{
   margin: 0 auto;
   max-width: 1200px;
}
.imagemCapa{
   width: 100%;
   margin-top: 40px;
   position: relative;
}

.background_imagem{
   background-color: rgba(235, 87, 87, 0.6);
   position: absolute;
   width: 100%;
   max-width: 1200px;
   height: 158px;
   top: 360px;
}

.title {
   position: absolute;
   text-align: center;
   top: 395px;
   width: 100%;
   max-width: 1200px;
   color: #F2F2F2;
   font-weight: 600;
   font-family: 'Quicksand';
   font-size: 56px;
}


.icone{
   display: flex;
   align-items: center;
   column-gap: 8px;
   row-gap: 8px;
   height: 40px;
}

.link{
   color: #000000;
   text-decoration: none;
   font-size: 16px;
   
}