.header{
    color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: .5px solid black;
    margin-bottom: 79px;
    padding: 40px 0px;
}

.header_title{
    font-size: 32px;
    margin-bottom: 6px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}



.header_subtitle{
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: end;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
